	<p>job id: <%=item.id%>&nbsp&nbsp&nbsp
	model: <b><%=item.model%></b>&nbsp&nbsp&nbsp&nbsp
	epsilon: <b><%=item.epsilon%></b>&nbsp&nbsp&nbsp&nbsp
	output_unit: <b><%=item.output_unit%></b>&nbsp&nbsp&nbsp&nbsp
</p>
	<table>
		<tr><th>Synthetic data residuals</th><th>Verification residuals</th></tr>
		<tr>
		<td style='width:360px;text-align:center;vertical-align:middle;'><br>
			<% if item.syntheticfile.length > 0 then %> 
				<a href='/stream_synthetic_residual_png?the_opaque_job_id=<%=item.opaque_id%>' target="_blank"> 
				<img src='/stream_synthetic_residual_png?the_opaque_job_id=<%=item.opaque_id%>' style='width:304px;height:228px;'></a>
			<%else%>
			  <hr>residuals not available<hr>
			<%end%>
	    </td>
		<td style='width:360px;text-align:center;vertical-align:middle;'><br>
			<% if item.verificationfile.length > 0   %> 
				<a href='/stream_verification_residual_png?the_opaque_job_id=<%=item.opaque_id%>' target="_blank"> 
				<img src='/stream_verification_residual_png?the_opaque_job_id=<%=item.opaque_id%>' style='width:304px;height:228px;'></a>
			<% else %>
			    <hr>status: <b>
				<%if item.submitted then%> 
				  model is currently being processed
				<%else%>
				  awaiting processing
				<%end%></b><hr>
			<% end %>
	   </td></tr>
	</table>	
	<br><hr>
	
	
