
<h3>Admin Options</h3>
<ul>
	<li><%= link_to "Manage Admins", admins_path %> </li>
	<li><%= link_to "View Users", users_path %> </li>
	<li><%= link_to "Remote Jobs", remote_jobs_path %> </li>
	<li><%= link_to "Activity Log", sessions_path %> </li>
	<li><%= link_to "Shiny Containers", shiny_dockers_path %> </li>
</ul>

