<div>
	<ul class="nav nav-tabs">
	  <li role="presentation" <% if params[:controller] == "admins" %>class="active"<% end %> >
			<%= link_to "Admins", admins_path %> 
		</li>
	  <li <% if params[:controller] == 'users' %>class="active"<% end %> >
			<%= link_to "Users", '/users' %>
	   </li>
 	  <li <% if params[:controller] == 'remote_jobs' %>class="active"<% end %> >
 			<%= link_to "Remote jobs", '/remote_jobs' %>
 	   </li>
	  <li <% if params[:controller] == 'sessions' %>class="active"<% end %> >
			<%= link_to "Sessions", '/sessions' %>
	   </li>
	  <li <% if params[:controller] == 'shiny_dockers' %>class="active"<% end %> >
			<%= link_to "Shiny containers", '/shiny_dockers' %>
	   </li>
	</ul>	
</div>
